
@import "tailwindcss";


@theme {
  --font-averia: "Averia Serif Libre", serif;
}

.primary-btn{
    @apply bg-[#de2c4d] text-white font-semibold px-6 py-3 rounded-xl shadow-[0px_10px_14px_-7px_#de0029] hover:scale-110! duration-300;
}

.hero-image{
    .drop-shadow{
        filter: drop-shadow(-6px 8px 15px rgba(0,0,0,0.2))
    }
}